<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Documents</div>
            <div class="panel-body">
                <form ng-submit="savedoc()">
                    <div class="form-group">
                        <label for="inputName">Document Type</label>
                        <input ng-model="newDoc.DocumentType" type="text" class="form-control" id="docType" placeholder="The Type of Document ">
                    </div>
                    <div class="form-group">
                        <label for="inputSlug">Document Name</label>
                        <input ng-model="newDoc.DocumentName" type="text" class="form-control" id="docName" placeholder="The document Name">
                    </div>
                    <button type="submit" class="btn btn-warning">Add New Documents</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">List of Documents</div>
            <div class="panel-body">
                <div class="form-inline pull-left" role="form">
                    <button class="btn btn-success" ng-click="refresh()"><i class="fa fa-plus"></i> Refresh</button>
                </div>
                <div class="form-inline pull-right" role="form">
                    <div class="form-group">
                        <input ng-model="search" id="search" type="text" class="form-control" placeholder="Search" ng-enter="searchclick()">
                    </div>
                    <button class="btn btn-primary" ng-click="searchclick()"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
            <!-- Table -->
            <div class="scrollable-area">
                <table ng-table="tableParams" class="table table-hover table-responsive">
                    <tr ng-repeat="getdoc in $data">
                        <td data-title="'Document Name'" sortable="'DocumentName'">
                            {{getdoc.DocumentName}}
                        </td>
                        <td data-title="'Availibity'" ng-if="getdoc.documentAvailability == 0" sortable="'documentAvailability'">No</td>
                        <td data-title="'Availibity'" ng-if="getdoc.documentAvailability != 0" sortable="'documentAvailability'">Yes</td>
                        <td data-title="'Action'">
                            <div class="text-center">
                                <a class="btn btn-info btn-xs" ng-hide="getdoc.documentAvailability == 0">
                                        Preview
                                    </a>
                                <a class="btn btn-success btn-xs" ng-click="upload(getdoc.DocumentationId)">
                                       Upload
                                    </a>
                                <a class="btn btn-warning btn-xs" ng-hide="getdoc.documentAvailability == 0">
                                       Download
                                    </a>
                            </div>
                        </td>
                        <td data-title="'Use'">
                            <div class="text-center">
                                <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
