<div class="modal-header">
    <h3 class="modal-title">Preview Document</h3>
</div>
<div class="modal-body " style="height: 200px;overflow-y: scroll;">
    <ul data-brackets-id="{{comment.ID}}" id="anchor{{comment.ID}}" class="list-unstyled ui-sortable" ng-repeat="comment in comments">
        <strong class="pull-left primary-font">{{comment.commentedBy}}</strong>
        <small class="pull-right text-muted">
               <span class="glyphicon glyphicon-time"></span> {{comment.commentDate | amTimeAgo}}</small>
        </br>
        <li class="ui-state-default">{{comment.comment}}</li>
        </br>
    </ul>
</div>
<div class="modal-footer">
    <div class="status-upload">
        <form>
            <textarea ng-model="TextCommet.comment" placeholder="What are you doing right now?"></textarea>
            <button class="btn btn-warning" ng-click="closeModal()">Close</button>
            <button class="btn btn-success green" ng-click="postComment()"><i class="fa fa-share"></i> Post Comment</button>
        </form>
    </div>
</div>
