<form>
    
    <div class="form-group">
        <label for="inputDescription">Comment</label>
        <textarea ng-model="TextCommet.comment"class="form-control" name="description" id="tag-description" rows="5" cols="40"></textarea>
    </div>
</form>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">save</button>
</div>
