<div class="modal-header">
    <h3 class="modal-title">Upload File</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">Document Type</label>
            <div class="col-sm-9">
                <select ng-model="option.id" class="form-control">
                    <option value="word" ng-selected="selected">Word</option>
                    <option value="pdf">PDF</option>
                    <option value="excel">Excel</option>
                </select>
                <p ng-hide="fileselection!=1" class="bs-callout-danger">Select file with correct format for {{option.id}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="button" class="btn btn-primary" ngf-select ngf-change="uploadFile($files)" ngf-accept="'application/pdf'" ng-if="option.id=='pdf'">Browse</button>
                <button type="button" class="btn btn-primary" ngf-select ngf-change="uploadFile($files)" ngf-accept="'.doc,.docx'" ng-if="option.id=='word'">Browse</button>
                <button type="button" class="btn btn-primary" ngf-select ngf-change="uploadFile($files)" ngf-accept="'application/xlsx'" ng-if="option.id=='excel'">Browse</button>
            </div>
        </div>
    </form>
    <progressbar ng-show="progressPercentage > 0"animate="false" value="progressPercentage" type="success"><b>{{progressPercentage}}%</b></progressbar>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="uploadStart()" ng-hide=" fileselection!=0">Upload</button>
    <button type="button" class="btn btn-warning" ng-click="closeModal()">Close</button>
</div>
