<div class="ngdialog-message">
    <h3>Upload File</h3>
    <form>
        <div class="form-group"> 
       <div><label for="inputName">Document Type</label>
            <select ng-model="option.id" class="form-control" >
                <option value="word" ng-selected="selected">Word</option>
                <option value ="pdf">PDF</option>
                <option value ="excel">Excel</option>
            </select>
            <button type="button" class="ngdialog-button ngdialog-button-primary"  ngf-select ngf-change="uploadFile($files)" >Browse</button></div>
            
        </div>
        
        
        <!-- loader -->
        <progressbar animate="false" value="progressPercentage" type="success"><b>{{progressPercentage}}%</b></progressbar>
    </form>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Upload</button>
</div>
