<div class="ngdialog-message">
    <h3>Upload File</h3>
    <form>
        <div class="form-group"> 
       <div><label for="inputName">Document Type</label>
            <select ng-model="option.id" class="form-control" >
                <option value="word" ng-selected="selected">Word</option>
                <option value ="pdf">PDF</option>
                <option value ="excel">Excel</option>
            </select>
           </div>
           
        </div>
          <button type="button" class="ngdialog-button ngdialog-button-primary"  ngf-select ngf-change="uploadFile($files)" ngf-accept="'application/pdf'" ng-if="option.id=='pdf'">Browse</button>
          <button type="button" class="ngdialog-button ngdialog-button-primary"  ngf-select ngf-change="uploadFile($files)" ngf-accept="'.doc,.docx'" ng-if="option.id=='word'">Browse</button>
          <button type="button" class="ngdialog-button ngdialog-button-primary"  ngf-select ngf-change="uploadFile($files)" ngf-accept="'application/xlsx'" ng-if="option.id=='excel'">Browse</button>
        
        <!-- loader -->
        <p ng-hide="fileselection!=1">Select file with correct format for {{option.id}}</p>
        <progressbar animate="false" value="progressPercentage" type="success"><b>{{progressPercentage}}%</b></progressbar>
    </form>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()" ng-hide=" fileselection!=0">Upload</button>
</div>
